@import url('https://db.onlinewebfonts.com/c/c5dbc56f321f765543511ecf3739935b?family=Bookmania');
root{
    --primary: #2f3241;
    --secondary: #74b1be;
}

body{
    background-color: #2f3241;
    color: white;
    font-family: "Bookmania";
}

a{
    color: white;
}

a:hover{
    color: #74b1be;
}